# App
NODE_ENV=development
APP_PORT=3000
API_PORT=4000
# JWT_SECRET=change_me
# JWT_REFRESH_SECRET=change_me_too
JWT_SECRET=2baf7ef2b8c8d9a66bc10504142b839c68036c24cf378735ad08e29d2955ee44
JWT_REFRESH_SECRET=2baf7ef2b8c8d9a66bc10504142b839c68036c24cf378735ad08e29d2955ee44s
# COOKIE_SECRET=change_me_cookie
COOKIE_SECRET=2baf7ef2b8c8d9a66bc10504142b839c68036c24cf378735ad08e29d2955ee44er

# Postgres
POSTGRES_DB=fintech_platform
POSTGRES_USER=fintech
POSTGRES_PASSWORD=fintech_password
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Web app
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_APP_ENV=development

# Mailhog
MAILHOG_SMTP_PORT=1025
MAILHOG_WEB_PORT=8025

# Demo mode
DEMO_MODE=true
